<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="Michael, Amadheo, Michael Amadheo, React, React.js, React Native, Linkedin">
    <meta name="author" content="Michael Amadheo">
    <meta name="description" content="Hi, I'm Michael Amadheo. I'm a mobile & web front-end developer from Indonesia"/>
    <meta property="og:image" content="https://media.istockphoto.com/vectors/programming-design-concept-vector-id947663966?b=1&k=20&m=947663966&s=612x612&w=0&h=MrPXhQekXbc4WY-9M3vLghIMEZt6Cis_7HL7GhJzvpA=" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Michael Amadheo - Front End Developer</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
