.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #222831;
    /* background-image: url('./assets/galaxyAndyHolmes.jpg');
    background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    /* background-size: cover; */
    /* animation: shake 5s; */
  /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    /* 0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); } */
    0% {
        background-size: 100%;
      }
      50% {
        background-size: 105%;
      }
      100% {
       background-size: 100%;
      }
  }

.header{
    display: flex;
    flex-direction: column;
    width: 70%;
    opacity: 1;
}

#header-hello-name{
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color:#EEEEEE;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    animation: 
        typing 3s steps(50, end),
        blink-caret .75s step-end infinite;
}

#header-highlight-name{
    transition: 0.1s;
    color:#FFD369;
    text-decoration: none;
}

/* #header-highlight-name:hover{
    transition: 0.1s;
    font-size: 32.9px;
    color:#ffd87d;
} */

#header-my-job{
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #FFD369;
    color:#EEEEEE;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    animation: 
        typing 1.5s steps(50, end),
        blink-caret .50s step-end infinite;
}

#header-give-call{
    overflow: hidden;
    white-space: nowrap;
    color:#EEEEEE;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFD369; }
  }

.start-tour-button{
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    margin-top: 40px;
    transform: rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
    color: #f1f1f1;
    background-color: #222831;
    font-size: 17px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFD369;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: 
    fadeInOpacity, 
    buttonWidth;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#arrow-icon{
    margin-left: 10px;
}

.start-tour-button:hover{
    transition: all 0.5s;
    color: #222831;
    background-color:#FFD369;
    border-color: #f1f1f1;
    width:200px;
    font-weight: bold;
}

.start-tour-button:hover #arrow-icon{
    transition: transform 0.5s;
    margin-left: 5px;
    transform: rotate(90deg);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes buttonWidth{
    from {width: 0px;}
    to {width: 200px;}
}

.introduction-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #EEEEEE;
}

.introduction{
    align-items: center;
    margin-top: 80px;
    margin-bottom: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.introduction img{
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: all 1s;
    width: 270px;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: 1;
}

#profile-image{
    width: 300px;
    filter: grayscale(100%);
    background-color: #e4e4e4;
    border-radius: 100%;
}

#profile-image:hover{
    filter: grayscale(0%);
    background-color: #EEEEEE;
    border-radius: 30%;
    width: 320px;
}

#introduction-title{
    color: #393e46;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    font-weight: bold;
}

#introduction-content{
    color: #35393f;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 200;
}

#introduction-content-2{
    color: #35393f;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 200;
}

.skills-container{
    background-color: #4a5058;
    display: flex;
}

.skills{
    width: 70%;
    display: flex;
    flex-direction: column;
}

#skills-title{
    color: #EEEEEE;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    font-weight: bold;
}

#skills-title-2{
    color: #EEEEEE;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    font-weight: bold; 
}

#skills-content{
    color: #EEEEEE;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    line-height: 30px;
}

.skills div span{
    transition: all 0.5s;
    font-size: 80px;
    display: inline-block;
    height: 150px;
    width: 25%;
    color: rgb(168, 168, 168);
}

.skills div span div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.skills-name{
    transition: all 0.3s;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 600;
}

#ico-js:hover{
    font-size: 85px;
    color:#f0db4f;
}

#ico-js:hover .skills-name{
    opacity: 1;
}

#ico-html:hover{
    font-size: 85px;
    color:#e34c26;
}

#ico-html:hover .skills-name{
    opacity: 1;
}

#ico-css:hover{
    font-size: 85px;
    color:#264de4;
}

#ico-css:hover .skills-name{
    opacity: 1;
}

#ico-react:hover{
    font-size: 85px;
    color:#61DBFB;
}

#ico-react:hover .skills-name{
    opacity: 1;
}

#ico-node:hover{
    font-size: 85px;
    color: #3C873A;
}

#ico-node:hover .skills-name{
    opacity: 1;
}

#ico-react-native:hover{
    font-size: 85px;
    color:#61DBFB;
}

#ico-react-native:hover .skills-name{
    opacity: 1;
}

#ico-android:hover{
    font-size: 85px;
    color:#32DE84;
}

#ico-android:hover .skills-name{
    opacity: 1;
}

#ico-git:hover{
    font-size: 85px;
    color:#F1502F;
}

#ico-git:hover .skills-name{
    opacity: 1;
}

#ico-vue:hover{
    font-size: 85px;
    color:#42b883;
}

#ico-vue:hover .skills-name{
    opacity: 1;
}

.portfolio-container{
    background-color: #EEEEEE;
    display: flex;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    display: none;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(1, 1, 1, 0.1);
    opacity: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #282f3a; 
  }
  
  Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #303846; 
  }

  .black-border{
      height:20px;
      width:100%;
      background-color: #393e46;
  }

.top-nav-bar-container{
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
    transition: height 0.5s;
    height:10px;
    width:100%;
    background-color: #FFD369;
    position: fixed;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px -1px 13px -1px rgba(0,0,0,0.18); 
    box-shadow: 0px -1px 13px -1px rgba(0,0,0,0.18);
}

.bottom-nav-bar-container{
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transition: height 0.3s;
    bottom:0;
    z-index: 2;
    visibility: hidden;
    height:45px;
    width:100%;
    margin-right: 20px;
    background-color: #FFD369;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.bottom-nav-bar-container span{
    background-color: #FFD369;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.bottom-nav-bar-container span div{
    /* background-color: aqua; */
    width: 33%;
    font-size: 25px;
}

.top-nav-bar-menu{
    font-size: 17px;
    outline: none;
    transition: all 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #222831;
    letter-spacing: 3px;
}

.top-nav-bar-menu:hover{
    transition: all 0.4s;
    background-color: #2b2b2b;
    color: white;
    letter-spacing: 5px;
}

.footer{
    -webkit-tap-highlight-color: transparent;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer span{
    display: flex;
    flex-direction: row;
}

.footer span a{
    transition: all 0.2s;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.footer span a:hover{
    transition: all 0.2s;
    color: #e9ab1b;
    font-size: 35px;
}

@media only screen and (min-width: 1000px) {
    .introduction-container{
        /* height: 110vh; */
        align-items: center;
        padding-top: 20px;
    }

    .skills-container{
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .header{
        width: 80%;
    }

    #header-hello-name{
        font-size: 18px;
    }

    #header-my-job{
        white-space: normal;
        font-size: 21px;   
    }

    #header-give-call{
        white-space: normal;
        font-size: 21px;   
    }

    .start-tour-button{
        overflow: hidden;
        white-space: nowrap;
        font-size: 16px;
        border-radius: 100px;
        height: 50px;
    }

    .top-nav-bar-menu{
        padding-right: 20px;
        padding-left: 20px;
        height: 100%;
    }

    .top-nav-bar-container{
        visibility: hidden;
        justify-content: center;
        align-items: center;
    }

    .bottom-nav-bar-container{
        visibility: visible;
    }

    .top-nav-bar-menu:hover{
        transition: all 0.4s;
        background-color: #FFD369;
        border-radius: 50px;
        color: white;
        letter-spacing: 5px;
    }

    .introduction{
        margin-top: 20px;
        width: 80%;
    }

    .introduction img{
        align-self: center;
        width: 190px;
    }

    .introduction span{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introduction span a{
        transition: all 0.2s;
        color: #2b2b2b;
        font-size: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }

    #profile-image{
        width: 250px;
    }
    
    #profile-image:hover{
        width: 260px;
    }

    #introduction-title{
        font-size: 30px;
        text-align: center;
    }

    #introduction-content{
        font-size: 15px;
        font-weight: 400;
    }

    #introduction-content-2{
        font-size: 15px;
        font-weight: 400;
    }

    .skills{
        width: 100%;
    }

    .skills div span{
        transition: all 0.5s;
        font-size: 50px;
        display: inline-block;
        height: 150px;
        width: 50%;
        color: rgb(168, 168, 168);
    }

    .footer{
        margin-bottom: 40px;
    }

    .top-nav-bar-menu:hover{
        transition: all 0.4s;
        background-color: none;
        color: #2b2b2b;
        letter-spacing: 5px;
    }
}
